* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  /* width: 1240px; */
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  font-family: 'Overpass', sans-serif;
}
.card {
  margin: 2em auto;
}
.rating {
  /* display: none; */
  width: 26rem;
  height: 27rem;
  background-color: hsl(213, 19%, 18%);
  margin: 0 auto;
  padding: 2.2rem;
  color: hsl(0, 0%, 100%);
  margin-top: 4.2rem;
  border-radius: 2rem;
  margin-bottom: 3.6rem;
}
.star {
  background-color: hsl(216, 15%, 25%);
  width: 3.2rem;
  height: 3.2rem;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}
.str {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}
.header {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.description {
  color: hsl(217, 12%, 63%);
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.numbers {
  display: flex;
  justify-content: space-between;
  margin: 1.8rem 0;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 15%, 25%);
  color: hsl(217, 12%, 63%);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  cursor: pointer;
}
.number:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}
.selected {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}
.number:active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}
.btn {
  width: 20rem;
  height: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 20px;
  letter-spacing: 3px;
  cursor: pointer;
}
.btn:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}

.thankyou {
  display: none;
  width: 26rem;
  height: 27rem;
  background-color: hsl(213, 19%, 18%);
  margin: 0 auto;
  padding: 1.8rem;
  color: hsl(0, 0%, 100%);
  margin-top: 4.2rem;
  border-radius: 2rem;
  margin-bottom: 1.6rem;
  text-align: center;
}
.thank {
  padding: 0;
  margin: 0 auto;
  margin-top: 1.4rem;
  display: inline-block;
  margin-bottom: 1.6rem;
}

.ratings {
  display: inline-block;
  color: hsl(25, 97%, 53%);
  margin-bottom: 2.2rem;
  padding: 0.4em 1.3em;
  background-color: hsla(216, 12%, 54%, 0.205);
  border-radius: 1rem;
}
.heading {
  margin-bottom: 0.5rem;
}
.paragraph {
  color: hsl(217, 12%, 63%);
  line-height: 1.6;
}

@media all and (min-width: 500px) {
  .card {
    padding: 1.9em;
    width: 400px;
  }
}
